<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Test suite">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
