.expireResults {
  &-show {
    overflow: hidden;
    .expireResults-overlay,.expireResults-modal {
      opacity: 1;
      visibility: visible;
    }

    .expireResults-modal-content {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  &-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(171, 197, 206, 0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  &-modal-content {
    text-align: center;
    color: #000;
    background: #fff;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    > div{
      padding: 30px 10px;
      margin: 0;
    }
    p{
      font-size: 17px;
      line-height: 30px;
      font-weight: normal;
      &:first-child{
        padding-top: 0;
      }
    }
  }

  &-modal-title{
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    background: darken($blue,5);
    color: #fff;
    border-radius: 3px 3px 0 0;
  }

  &-btn-refresh{
    border: 0 solid transparent;
    background: $blue;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
  }
}
