body.loaded {
    background-color: $blue;
    .main-wrapper {
        visibility: hidden;
    }
    .preloader {
        position: fixed;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        margin-right: -60px;
        border-radius: 12px;
        -webkit-animation: preloaderm 3s ease-in-out infinite;
        animation: preloaderm 3s ease-in-out infinite;
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 25px;
            height: 10px;
            width: 10px;
            border-radius: 10px;
            -webkit-animation: preloaderd 3s ease-in-out infinite;
            animation: preloaderd 3s ease-in-out infinite;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: -25px;
            height: 12px;
            width: 12px;
            border-radius: 12px;
            -webkit-animation: preloaderg 3s ease-in-out infinite;
            animation: preloaderg 3s ease-in-out infinite;
        }
    }
}

@-webkit-keyframes preloaderg {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
@keyframes preloaderg {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@-webkit-keyframes preloaderm {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
@keyframes preloaderm {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@-webkit-keyframes preloaderd {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
@keyframes preloaderd {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
