.redirect-page {
  background: #27a9d2;
  position: fixed;
  width: 100%;
  height: 100%;
  &-processing, &-error {
    width: 455px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
}